#ftitle {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#title {
    margin-left: 150px;
    width: 1000px;
}

#content{
    margin-left: 150px;
    width: 1000px;
}

#image {
    margin-left: 150px;
    width: 1000px;
}

#send {
    margin-left: 150px;
    width: 1000px;
    font-size: 20px;
}